.create-form {
  min-width: 150px;
  width: 100%;
}

.field-full-width {
  width: 100%;
}

.mr {
  margin-right: 15px;
}


.center {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}