<div *ngIf="isLoading" class="center">
  <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
</div>


<div *ngIf="!isLoading">
  <br />

  <mat-card>
    <header class="mat-typography">
      <h3>{{ formHeadline }}</h3>
    </header>
    <mat-divider></mat-divider>

    <br />

    <form
      [formGroup]="createIssueForm"
      class="create-form"
      (ngSubmit)="submit()"
    >
      <mat-form-field class="field-full-width">
        <input
          type="text"
          matInput
          placeholder="Issue Title"
          formControlName="title"
        />
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input
          type="text"
          matInput
          placeholder="Responsible"
          formControlName="responsible"
        />
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <textarea
          type="text"
          matInput
          placeholder="Description"
          formControlName="description"
        >
        </textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Severity" formControlName="severity">
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>
      <br /><br />

      <button
        mat-raised-button
        color="accent"
        style="margin-right: 10px;"
        routerLink="/list"
      >
        Back
      </button>
      <button mat-raised-button color="primary" type="submit">
        {{ formBtn.text }}
      </button>
    </form>
  </mat-card>
</div>
